@import '../styles/utils.scss';

.TodoInsert {
  display: flex;
  height: 40px;
  margin-bottom: 16px;

  input {
    display: none;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid $lightgreen;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: $white;

    &.showing {
      display: block;
    }

    &:focus {
      border: 1px solid $lightgreen;
    }
  }

  input::placeholder {
    color: $white;
  }

  h2 {
    display: none;
    color: $white;
    width: 100%;
    text-align: center;
    font-weight: 500;

    &.showing {
      display: block;
    }
  }

  button {
    background: $lightgreen;
    outline: none;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
  }
}
